$blackColor: #020304;
$accentColor: #FFBC37;
$textColor: black;
$backgroundColor: white;

*{
  box-sizing: border-box;
  font-family: 'open sans', sans-serif;
}

body{
  footer{
    div.formdiv{
      form{
        div.mail{
          input{

          }
        }
      }
    }
    div.kontaktinfo{
      div{
        text-align: center;
      }
    }
  }
}

body>nav.desktop>ul>li>a:hover{
  opacity: 0.75;
}

body>nav.mobil>ul>li>a:hover{
  opacity: 0.5;
}

body>nav.mobil>ul>li>a{
  font-weight: lighter;
}

body>main>div.velkommentekst{
  /*text-align: center;
  display: block;
  margin-top: -5em;
  background-color: black;
  padding: 0.5em;
  z-index: 16;*/

  max-width: 95%;
  background-color: black;
  margin: -4em auto 2em auto;
  z-index: 100;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;

  h4{
    color: $accentColor;
    font-size: 5vw;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0.6em;
  }
  p{
    color: white;
    margin-top: 0;
  }
}

body{
  background-color: black;
  div{
    &.mobilindexbillede{
      position: relative;
      text-align: center;
      display: block;
      z-index: -1;

      img{
        max-width: 100%;
        z-index: 3;
        margin-bottom: -0.3em;
      }
      p {
        font-size: 1.8em;
        font-weight: 600;
        color: $textColor;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 100%;
        padding: 0.2em;
      }
    }
    &.desktopindexbillede{
      display: none;
    }
  }
  main.nicolai{
    max-width: 700px;
    margin: 0 auto;
    background-color: $backgroundColor;
    img.insects {
      max-width: 100%;
    }
    div{
      &.ydelsesikoner{
        figure{
          max-width: 80%;
          margin: 0 auto 4em auto;
          display: block;
          text-align: center;
          &:hover{
            opacity: 0.75;
          }
          a {

          }
          img{
            max-width: 50%;
          }

          h6{
            color: Black;
            font-size: 2em;
            margin-top: 0;
            margin-bottom: 0;
            font-family: 'Playfair display', serif;
            font-weight: 400;
          }
          figcaption{
            color: $textColor;
          }
        }
      }

      .kontaktos {
        label {
  display: block;
  padding: 0.5em;
  text-align: center;
  border-bottom: 1px solid #CCC;
  color: #666;
}
        input {
          display: none;
          visibility: hidden;
        }
        #expand {
          height: 0px;
          overflow: hidden;
          transition: height 0.5s;
          background: url(http://placekitten.com/g/600/300);
          color: #FFF;
        }
        section {
          padding: 0 20px;
        }
        #toggle:checked ~ #expand {
          height: 250px;
        }
        #toggle:checked ~ label::before {
          content: "-";
        }
      }
      &.norreport{
        text-align: center;
        h5{
          color: $textColor;
          font-size: 1.5em;
          margin-bottom: 0.5em;
          font-family: 'Playfair display', serif;
          font-weight: 400;
        }
        p{
          color: $textColor;
        }
      }
      &.reviewdiv{
        div.facebook{
          margin-top: 2.5em;
          div.stars{
            img{
              max-width: 10%;
            }
          }
          p{
            color: $textColor;
            margin-top: 0;
          }
        }
        text-align: center;
        h5{
          color: $textColor;
          font-size: 2em;
          margin-bottom: 0;
          font-family: 'Playfair display', serif;
          font-weight: 400;
        }
        div.reviews{
          div.review{
            h2.gås {
              color: $accentColor;
              font-family: arial, sans-serif;
              font-size: 6em;
              font-weight: normal;
              line-height: 0.01em;
              margin: 0.7em 0 -0.2em 0;
            }
            p{
              color: $textColor;
              margin-bottom: 0;
            }
            h4{
              color: $textColor;
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}

body {
  background-color: black;
  div{
    figure{
      margin: 0;
      img{
        max-width: 100%;
      }
      &.desktop{
        display: none;
      }
      p{
        text-align: center;
        width: 100%;
        position: absolute;
        font-size: 2.2em;
        color: $textColor;
        top: 30.8vh;
        display: block;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
  margin: 0;
  footer{

    padding-top: 3vh;
  /*  background-color: #292929;*/

    div{

      max-width: 90%;
      display: block;
      margin: 0 auto;
      form{

        margin-top: 0em;
        padding-bottom: 1em;
        max-width: 100%;
        div{
          &.mail{
          /*  margin: 0 0 0 1em;*/
          }
          button{
            background-color: #B7B7B7;
            border-radius: 10px;
            padding: 0.6em;
            border: none;
          }
            h3{
              margin-bottom: 0.1em;
              margin-top: 0;
              font-family: 'open sans', sans-serif;
              color: white;
              font-size: 1em;
          }
          input[type=text] {
              width: 70%;
              padding: 12px 20px;
              display: inline-block;
              border: 1px solid #ccc;
              box-sizing: border-box;
              border-radius: 10px;
              padding: 0.5em;
          }
        }
      }
      &.someikoner{
        text-align: center;
        padding-bottom: 1em;
        a{
          margin-left: 0.5em;
          margin-right: 0.5em;
          color: white;
          img {
            max-width: 2.5em;
          }
        }
      }
      div{
        padding-bottom: 1em;
        a{
          text-decoration: none;
          color: white;
          display: inline;
        }
      }
    }
  }
  input#burger{
    opacity: 0;
  }
  main{

    margin: 0 auto;
    display: block;
    padding: 0.3em;

    &.whitepower{
      padding: 0;
      margin-top: 2.15em;
      div{
        background-color: $backgroundColor;
      /*margin: 2.5em auto 0;  Giver ekstra uønsket afstand mellem bilederne på Dortefonden*/

        img {
          max-width: 100%;
        }

        article {
          max-width: 800px;
          margin: auto;
          padding: 0.5em;

          h1 {
            font-size: 1.8em;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            font-family: 'Playfair display', serif;
            font-weight: 400;
          }

          h3 {
            font-size: 1.1em;
            font-style: italic;
            margin: 0;
            font-weight: 400;
          }

          p{
            color: black;
            font-size: 1.1em;
            margin-top: 1.2em;
            line-height: 1.5em;
            }

        .galleri { /*Både billeder og knapper i galleri*/
          position: relative; /*Tillader placering af knapper oven på billeder*/
          margin: 0;

          button { /*Pile i galleri*/
            background-color: rgba(0,0,0,0.4); /*Sort farve med 40% opacity*/
            font-size: 1.8em; /*Størrelse på pilen*/
            color: white;
            border: none;
            padding: 0.2em 0.1em; /*Pilens kasse*/
            position: absolute; /*Tillader placering af knapper oven på billeder*/
            outline:none;/*Fjerner markering af knappen ved klik*/
            transform: translate(0%, -50%); /*Justeringer i forhold til centrum på y-aksen*/
            top: 50%; /*Placér midt på billedets y-akse*/
          }

          .w3-display-right { /*Knap til at vise næste billede i slideshow*/
            right: 0; /*Afstanden fra højre kant af kassen skal være 0*/
          }
          }
        .miniatures { /*Miniaturer under det store billede i galleriet*/
          columns: 3; /*3 miniaturer ved siden af hinanden*/
          width: 100%;
          margin: 0.5em 0 0 0; /*Lidt afstand til det store billede*/

          img {
            display: block; /*Så miniaturerne står ved siden af hinanden*/
          }
        }
        .w3-opacity-off { /*Sætter border rundt om det valgte billede i galleriet*/
          border: solid $accentColor 1vmin;
        }
        }
      }
    }
  }
  nav{
    a{
      &.navn{
        text-decoration: none;
        color: white;
        font-family: 'Playfair Display', serif;
        padding-left: 1%;
        padding-top: 0.3em;
        clear: both;
        float: left;
        font-size: 1.6em;;
        max-width: 420px;
      }
    }
    &.desktop{
      display: none;

    }
  }
  h1 {
    /*position: fixed;
    top: 40px;
    left: 40px;
    z-index: 6;
    font-size: 20px;
    font-weight: 900;
    font-family: sans-serif;
    text-transform: uppercase;*/
    > span {
      text-transform: none;
      opacity: .5;
      font-weight: 300;
      font-size: 50px;
    }
  }
    input + label {
      position: fixed;
      top: 0.4em;
      right: 5%;
      height: 65px;
      width: 9%;
      z-index: 15;

      span {
        position: absolute;
        width: 100%;
        height: 3%;
        top: 33%;
        margin-top: -1px;
        left: 0;
        display: block;
        background: white;
        transition: .5s;
      }
      span:first-child {
        top: 20%;
      }
      span:last-child {
        top: 47%;
      }
    }
    label:hover {
      cursor: pointer;
    }
    input:checked + label {
      span {
        opacity: 0;
        top: 50%;
      }
      span:first-child {
        opacity: 1;
        transform: rotate(225deg);
      }
      span:last-child {
        opacity: 1;
        transform: rotate(-225deg);
      }
    }
    input ~ nav.mobil {
      background: black;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    /*  height: 3.5em;*/
      height: 0.001vh;
      transition: .5s;
    /*  transition-delay: .5s; Hvorfor?*/
      z-index: 14;
      padding-bottom: 3.5em;
      > ul {
        position: absolute;
        top: 15%;
        left: 7%;
        right: 17%;
        list-style: none;
        display: none;

        > li {
          opacity: 0;
          transition: .5s;
          transition-delay: 0s;
          > a {
            font-family: 'Open Sans', sans-serif;
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            display: block;
            padding: 6%;
            font-size: 1.5em;
            &.current{
              color: $accentColor;

            }
          }
        }
      }
    }
    input:checked ~ nav {
      height: 100%;
      transition-delay: 0s;
      > ul {
        display: block;
        > li {
          opacity: 1;
          transition-delay: .5s;
          a{

          }
        }
      }
    }
}

/*Michelle start*/
#toppic{
  width: 100%;
}
article.michelle-indhold{
  max-width: 800px;
  padding: 0.6em;
  margin: auto;
  h3{
    font-size: 1.1em;
    font-style: italic;
    margin: 0;
  }
.michelle-indhold>h1{
  font-size: 1.8em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-family: 'Playfair Display', serif;
}
p{
  color: black;
  margin: 0;
  margin-top: 1.2em;
  line-height: 1.5em;
        }
  #caption{
    font-size: 0.9em;
    font-style: italic;
    margin-top: 0.2em;
}
#nacl{
  margin-top: 1.5em;
  margin-bottom: 0;
  font-size: 1.8em;
  font-family: 'Playfair display', serif;
  font-weight: 400;
}
}

#middle{
width: 100%;
margin-top: 1.5em;
}

.grid{
margin-top: 1.5em;
img{
width: 100%;
margin-top: 0.3em;
}
}
/*Michelle slut*/

/* Katja */

.omosimg, .videoo {
    max-width: 100%;
}

/* Text */

.tlf {
    text-align: center;
    font-size: 1.2em;
}

.familie, .booktext {
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.5em;
}

.omos {
    font-size: 2.2em;
    font-family: 'playfair display', serif;
    font-weight: 400;
    }

    .centertext{
        text-align: center;
    }

body main.whitepower div{
.interview{
  margin: 2em auto;
  padding-top: 0;
}
.videoWrapper { /*Så den embeddede video fylder hele bredden med det rigtige h/b-forhold*/
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin-top:0;

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
}
}

/* Link books */

.buylink {
  font-weight: bold;
  color: black;
  transition: color 0.2s ease;
  background-color: #FFBC37;
  transition: background-color 0.2s ease;
  border-radius: 25px;
  padding: 0.7em 1em;
  margin-top: 1em;
  display: inline-block; /*så den ikke klipper ind i p*/

&:hover {
  background-color: #292929;
  color: $accentColor;
}
}


a:link {
    text-decoration: none;
}

/* Flexbox */

body main.whitepower .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 0.3em;
}

.galleryitem {
  flex: 1 0 20em;
  max-width: 100%;
  margin: 1rem;
  margin-top: 0;
  margin-bottom: 2em;
}

.galleryitem img{
  display: block;
  height: auto;
  width: 15em;
}

.galleryitem figcaption {
  color: black;
  font-family: 'open sans', sans-serif;
  font-weight: 400;
  padding: .3em 0;
  text-align: center;
  padding-top: 1em;
}

.captions {
  font-weight: 900;
  font-size: 1.5em;
}

.galleryitem span {
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5em;
  max-width: 438px;
  padding: 0 0.5em 0;
}

.mortenflex, .rasmusflex, .isabelflex {
  max-width: 30%;
  border-radius: 50%;
  display: block;
  margin: auto;
}

/* Flexbox books */

.book, .snaps, .ukrudt {
  max-width: 70%;
  margin: auto;
}

/* Katja slut */

img.kniv{
  display: none;
}
img.gaffel{
  display: none;
}

.desktopbanner {
  display: none;
}
.mobilbanner {
  display: block;
}

@media screen and (max-width: 1075px) and (orientation: landscape) {
nav.mobil ul {
    columns: 2;
}
}

@media screen and (min-width: 1076px){
  *{

  }

  .desktopbanner {
    display:block;
  }
  .mobilbanner {
    display: none;
  }

body>main>div.velkommentekst{
  max-width: 82%;
  text-align: center;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5em;
  z-index: 100;
  padding-top: 1em;
  padding-bottom: 1em;
  h4{
    /*font-size: 2.4em; Se @media for min 700px*/
    margin-bottom: 0;
    display: block;
    margin: 0 auto;
    color: $accentColor;
  }
  p{
    font-size: 1.7em;
    margin-top: 0.6em;
    padding: 0 0.4em 0;
  }
}

  body{
    img.kniv{
      display: block;
      max-width: 3.92%;
      float: right;
      margin-top: 9em;
    }
    img.gaffel{
      display: block;
      max-width: 5%;
      float: left;
      transform: translate(-50%,0%);
      margin-top: 9em;
    }
    div{
      &.mobilindexbillede{
        display: none;
        img{
          max-width: 100%;
        }
      }
      &.desktopindexbillede{
        display: block;
        position: relative;
        text-align: center;
        z-index: -1; /*Så velkommentekst står foran*/
        margin-top: 3.2em;

        img{
          max-width: 100%;
          margin-bottom: -0.3em; /*Fjerner sort streg under billede*/


        }
        p {
          font-size: 2.5em;
          color: black;
          background-color: rgba(0, 0, 0, 0.5);
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          width: 100%;
          padding: 0.2em;
        }
      }
    }
    main.nicolai{
      max-width: 85%;
      background-color: $backgroundColor;
      div{
        &.ydelsesikoner{
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          margin-top: 4em;
          figure{
            max-width: 30%;
            margin: 0 auto 4em auto;
            display: block;
            text-align: center;
            img{
              max-width: 60%;
            }
            h6{
              color: black;
              font-size: 2em;
              margin-top: 0;
              margin-bottom: 0;
            }
            figcaption{
              color: black;
              max-width: 90%;
              display: block;
              margin: 0 auto;
            }
          }
        }
        &.norreport{
          text-align: center;
          display: block;
          margin: 0 auto 4em;
          h5{
            color: black;
            font-size: 2em;
            margin-bottom: 0.5em;
          }
          p{
            color: black;
            max-width: 30em;
            margin: 0 auto;
            text-align: justify;
          }
        }
        &.reviewdiv{
          margin-bottom: 3em;
          div.facebook{
            margin-top: 2.5em;
            div.stars{
              img{
                max-width: 4%;
              }
            }

            p{
              color: black;
              margin-top: 0;
            }
          }
          text-align: center;
          h5{
            color: black;
            font-size: 2em;
            margin-bottom: 0;
          }
          div.reviews{
            display: flex;
            justify-content: space-between;
            max-width: 80%;
            margin: 0 auto;
            div.review{
              max-width: 40%;
              h2.gås {
                color: $accentColor;
                font-family: arial, sans-serif;
                font-size: 6em;
                font-weight: normal;
                line-height: 0.01em;
                margin: 0.7em 0 0 0;
              }
              p{
                color: black;
                margin-bottom: 0;
                margin-top: 0;
                text-align: justify;
              }
              h4{
                color: black;
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }


body{
  div{
    figure{
      &.mobil{
        display: none;
      }
      &.desktop{
        display: block;
      }
    }
  }
  main{
    max-width: 85%;
    display: block;
    margin: 0 auto;

    &.whitepower{
      div{
        margin-top: 3.23em;


        article{
          padding: 1.5em; /*Dobbelte padding i desktop format*/
          h1 {
            font-size: 2.2em;
          }
          .galleri{
            button{
              font-size: 3em; /*Størrelse på pilen*/
              padding: 0.3em 0.1em; /*Pilens kasse*/
            }
            :hover {
              color: $accentColor;
            }
          }
        }
      }
    }
  }
  margin: 0;
  input{
    display: none;
  }
  label{
    display: none;
  }
  nav{
    &.mobil{
      display: none;
    }

    &.desktop{
      display: block;
      position: fixed;
      background-color: black;
      height: 3.47em;
      width: 100%;
      z-index: 10;
      margin-top: -3.2em;
      a{
        &.navn{
          text-decoration: none;
          color: white;
          font-family: 'Playfair Display', serif;
          padding-left: 2%;
          padding-top: 0.5%;
          clear: both;
          float: left;
          font-size: 1.8em;
        }
      }
      ul{
        padding: 0;
        width: 65%;
        float: right;
        margin-bottom: 0;
        margin-right: 2%;
        li{
          float: right;
          padding-left: 0.8em;
          padding-right: 0.8em;
          display: inline-block;
          border-left: 1px solid $accentColor;
          &.undtagelsen{
            border: none;
            padding-left: 0;
          }
          a{
            text-decoration: none;
            color: white;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.1em;
            font-weight: 400;
            &.current{
              color: $accentColor;
            }
          }
        }
      }
    }
  }
  footer{
    display: flex;
    justify-content: space-around;
    div{
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
      &.formdiv{
        width: 30%;
        form{
          div{
            input{
              width: 80%;
            }
          }
        }
      }
      display: inline-block;
      form{
        display: inline-block;
        width: 100%;
        div{
          width: 100%;
          padding: 0;
        }
      }

      &.kontaktinfo{
        width: 50em;
        padding-top: 1em;
        display: flex;
        justify-content: space-around;
        border-left: 1px solid $accentColor;
        border-right: 1px solid $accentColor;
        padding-bottom: 0.1em;
        height: 3em;
        margin-top: 0.5em;
        div{
          a{
            font-size: 0.9em;
          }
        }
      }
      &.someikoner{
        margin-top: 0.8em;
      }
      display: inline-block;
      div{

      }
    }
  }
}

body main.whitepower div {
  div.grid{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 0 0 0.2em;
  div.billederher{
    display: block;
    margin: 0 auto;
    img{
      max-width: 49.7%;
    }
  }

  div.billederder{
    margin: 0;
    img{
      max-width: 33%;
    }
  }
}
}
}

@media screen and(max-width:370px) {
body>nav.mobil>a{
  font-size: 1.3em;
  margin-top: 0.3em;
}
/*body input ~ nav.mobil {
    height: 3.4em;
  }*/
}

@media screen and(min-width:700px) {
body>main>div.velkommentekst>h4{
  font-size: 2.19em;
  }
}
